## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import tensorflow as tf
import numpy as np

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd

In [129]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/prices.csv')

### Check all columns in the dataset

In [197]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

In [198]:
data.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

### Drop columns `date` and  `symbol`

In [0]:
data = data.drop(['date', 'symbol'], axis=1)

In [200]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
data = data.head(1000)

In [202]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
open      1000 non-null float64
close     1000 non-null float64
low       1000 non-null float64
high      1000 non-null float64
volume    1000 non-null float64
dtypes: float64(5)
memory usage: 39.1 KB

### Divide the data into train and test sets

In [0]:
y = np.array(data["volume"])
X = data.drop(["volume"], axis=1)

In [0]:
#Target 'Volume' has very high values. Divide 'Volume' by 1000,000
y = y/1000000

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
seed = 7
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=seed)

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
X_train = np.array(X_train).astype(np.float32)
X_test = np.array(X_test).astype(np.float32)
y_train = y_train.astype(np.float32)
y_test = y_test.astype(np.float32)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

## Building the Model in tensorflow

In [0]:
#Reset Tensor Flow graph
tf.reset_default_graph()

In [0]:
#Input features
x = tf.placeholder(shape=[None,4],dtype=tf.float32, name='x-input')

#Normalize the data
x_n = tf.nn.l2_normalize(x,1)

#Actual Prices
y_ = tf.placeholder(shape=[None],dtype=tf.float32, name='y-input')

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
W = tf.Variable(tf.zeros(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

2.Define a function to calculate prediction

In [0]:
def predict_calc(x, w, b):
  return tf.add(tf.matmul(x,W), b)

In [0]:
#We will use normalized data
y = tf.add(tf.matmul(x_n,W),b,name='output')

3.Loss (Cost) Function [Mean square error]

In [0]:
loss = tf.reduce_mean(tf.square(y-y_),name='Loss')

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
train_op = tf.train.GradientDescentOptimizer(0.03).minimize(loss)

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [0]:
#Lets start graph Execution
sess = tf.Session()

# variables need to be initialized before we can use them
sess.run(tf.global_variables_initializer())

#how many times data need to be shown to model
training_epochs = 100

In [217]:
for epoch in range(training_epochs):
            
    #Calculate train_op and loss
    _, train_loss = sess.run([train_op,loss],feed_dict={x:X_train_scaled, y_:y_train})
    
    if epoch % 5 == 0:
        print ('Training loss at step: ', epoch, ' is ', train_loss)

Training loss at step:  0  is  305.42902
Training loss at step:  5  is  282.74225
Training loss at step:  10  is  276.41373
Training loss at step:  15  is  274.64835
Training loss at step:  20  is  274.15588
Training loss at step:  25  is  274.01855
Training loss at step:  30  is  273.98022
Training loss at step:  35  is  273.9695
Training loss at step:  40  is  273.9665
Training loss at step:  45  is  273.96567
Training loss at step:  50  is  273.96545
Training loss at step:  55  is  273.96536
Training loss at step:  60  is  273.96536
Training loss at step:  65  is  273.96536
Training loss at step:  70  is  273.96536
Training loss at step:  75  is  273.96533
Training loss at step:  80  is  273.96533
Training loss at step:  85  is  273.96533
Training loss at step:  90  is  273.96533
Training loss at step:  95  is  273.96533

### Get the shapes and values of W and b

In [224]:
print (W.shape)
sess.run(W)

(4, 1)

array([[1.3966467],
       [1.397112 ],
       [1.3887044],
       [1.4036552]], dtype=float32)

In [225]:
print(b.shape)
sess.run(b)

(1,)

array([2.819467], dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [223]:
y_predict = predict_calc(X_test_scaled[0:1], W, b)
sess.run(y_predict)

array([[3.2873797]], dtype=float32)

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
iris_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/11_Iris.csv')

In [254]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
iris_df = iris_df.drop(labels= "Id", axis = 1)

In [0]:
iris_1 = iris_df.join(pd.get_dummies(iris_df["Species"]))
y = iris_1[["Iris-setosa", "Iris-versicolor", "Iris-virginica"]]

In [261]:
y.head()

   Iris-setosa  Iris-versicolor  Iris-virginica
0            1                0               0
1            1                0               0
2            1                0               0
3            1                0               0
4            1                0               0

### Splitting the data into feature set and target set

In [0]:
# Create a separate dataframe consisting only of the features i.e independent attributes
X = iris_df.drop(labels= "Species", axis = 1)

In [265]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

In [266]:
print('Number of examples: ', X.shape[0])
print('Number of features for each example: ', X.shape[1])
print('Shape of actual data: ', y.shape)

Number of examples:  150
Number of features for each example:  4
Shape of actual data:  (150, 3)

In [0]:
seed = 7
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=seed)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [294]:
from keras.models import Sequential
from keras.layers import Dense

#Initialize Sequential Graph (model)
model = Sequential()

#Normalize input data
model.add(Dense(3, input_dim=4, activation='relu'))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='categorical_crossentropy')

W0721 11:21:07.207702 139629917460352 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0721 11:21:07.214340 139629917460352 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0721 11:21:07.234561 139629917460352 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0721 11:21:07.254745 139629917460352 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

### Model Training

In [295]:
model.fit(X_train, y_train, epochs=5)

W0721 11:21:16.782506 139629917460352 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/5
105/105 [==============================] - 0s 2ms/step - loss: 1.1921e-07
Epoch 2/5
105/105 [==============================] - 0s 116us/step - loss: 1.1921e-07
Epoch 3/5
105/105 [==============================] - 0s 110us/step - loss: 1.1921e-07
Epoch 4/5
105/105 [==============================] - 0s 118us/step - loss: 1.1921e-07
Epoch 5/5
105/105 [==============================] - 0s 119us/step - loss: 1.1921e-07

### Model Prediction

In [296]:
model.predict(X_test)

array([[0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.16741276, 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ]], dtype=float32)

In [0]:
y_predict=model.predict_classes(X_test)

In [300]:
scores = model.evaluate(X_test, y_test)
scores

45/45 [==============================] - 0s 171us/step

0.35817998515236066

### Save the Model

In [0]:
model.save('my_model.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?

In [0]:
#Initialize Sequential Graph (model)
model = Sequential()

#Normalize input data
model.add(Dense(2, input_dim=4, activation='relu'))

#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(Dense(3))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='categorical_crossentropy')

In [303]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5
105/105 [==============================] - 0s 2ms/step - loss: 1.1085
Epoch 2/5
105/105 [==============================] - 0s 114us/step - loss: 1.1004
Epoch 3/5
105/105 [==============================] - 0s 103us/step - loss: 1.2333
Epoch 4/5
105/105 [==============================] - 0s 121us/step - loss: 3.9323
Epoch 5/5
105/105 [==============================] - 0s 112us/step - loss: 9.3643

In [304]:
model.predict(X_test)

array([[ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.2171205 , -0.94989765, -1.2492257 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-0.74587196, -0.6167518 , -0.7945591 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.0025834 , -0.79823214, -1.0422376 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.3550115 , -1.0473787 , -1.3822647 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.1757153 , -0.9206265 , -1.2092775 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.1830324 , -0.92579925, -1.2163371 ],
       [-0.9827497 , -0.78421086, -1.0231018 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-1.340573  , -1.0371714 , -1.3683342 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [-0.9707105 , -0.7756998 , -1.0114862 ],
       [-1.3117747 , -1.0168127 , -1.3405492 ],
       [-1.2019956 , -0.93920517, -1.234633  ],
       [-1.1831282 , -0.9258671 , -1.2164296 ],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536],
       [ 0.0697409 , -0.04015992, -0.00764536]], dtype=float32)

In [305]:
scores = model.evaluate(X_test, y_test)
scores

45/45 [==============================] - 0s 2ms/step

12.09639483557807